.sign-up-container {
    background-color: white;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sign-up-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    margin-bottom: 24px;
    padding: 24px;
    color: #800020;
  }
  
  .sign-up-subscription > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .sign-up-subscription-heading {
    margin-bottom: 24px;
    font-size: 24px;
  }
  
  .sign-up-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
  }
  
  .sign-up-input {
    padding: 8px 20px;
    border-radius: '2%';
    margin-right: 10px;
    border: 2;
    border-color:#800020;
    font-size: 18px;
    margin-bottom: 16px;
    color:#800020;
  }
  
  .sign-up-drop-down {
    padding: 8px 20px;
    border-radius: '2%';
    margin-right: 10px;
    border: 2;
    border-color:#800020;
    font-size: 18px;
    margin-bottom: 16px;
    color:#800020;
  }
  .sign-up-btn--primary--rev {
    background-color: #800020;
    color: var(--primary);
    border: 2px solid #800020;
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .sign-up-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .sign-up-link-wrapper {
    display: flex;
  }
  
  .sign-up-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .sign-up-link-items h2 {
    margin-bottom: 16px;
  }
  
  .sign-up-link-items > h2 {
    color: #800020;
  }
  
  .sign-up-link-items a {
    color: #800020;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .sign-up-link-items a:hover {
    color: #800020;
    transition: 0.3s ease-out;
  }
  
  .sign-up-email-form h2 {
    margin-bottom: 2rem;
    color: #800020;
  }
  
  .sign-up-input::placeholder {
    color: #800020;
  }
  
  /* Social Icons */
  .social-icon-link {
    color: #800020;
    font-size: 24px;
  }
  
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .website-rights {
    color: #fff;
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 820px) {
    .sign-up-links {
      padding-top: 2rem;
    }
  
    .sign-up-input {
        width: 100%;
    }
    .sign-up-drop-down {
        width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .sign-up-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }